{% extends 'base.html' %}

{% block content %}
    <h1>Login</h1>

    {% if form.errors %}
        <p>
            There has been an error logging in. Please try again.
        </p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
        {% else %}
            <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}

    <form method="post" {% comment %}action="{% url login %}"{% endcomment %}>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
{% endblock %}