{% extends 'base.html' %}
{% load static %}
{% load leaflet_tags %}
{% block content %}
    {% leaflet_js %}
    {% leaflet_css %}
    <link href="{% static "last_point_map/css/map.css" %}" rel="stylesheet"/>
    <script>
     // Locations for pointmap.js. Is this good practice to have global vars like this?
     var icon_url = "{% static 'last_point_map/images/marker.svg' %}";
     var submit_url = "{% url 'get_recent_point' %}";
    </script>
    <script src="{% static 'last_point_map/js/pointmap.js' %}"></script>

    <h3>
        Hi there, {% if user.first_name %}{{ user.first_name }}{% else %}{{ user.username }}{% endif %}!
        Click <a href="#" id="help-toggle">here</a> to toggle display help, or <a href="{% url 'auth_logout' %}">here</a> to log out.
    </h3>

    <p id="help">
        Here is a map with the most recently submitted point. Move the marker by dragging it or clicking on the map, and press <strong>'Save point'</strong> at the bottom of the page to submit someplace different!
    </p>

    <p>
        The last point was submitted by <strong>{{ point.author.username }}</strong> at {{ point.set_at_readable }}.
    </p>

    {% leaflet_map "pointmap" %}
    <h1 id="save_pt_button"><a href="#">Save point</a></h1>
{% endblock %}
