@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

html, body {
    height: 95%;
}

body {
    margin: auto;
    padding: 0 8px;

    max-width: 70em;

    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    color: #555555;
    background-color: #f3f3f3;
}

a {
    color: #70c9c5;
    text-decoration: none;
}

a:hover {
    color: #397d79;
}

#pointmap {
    height: 500px;
}

@media screen and (max-width: 1000px) {
    #pointmap {
        height: 400px;
        margin: 0 -8px;
    }
}

strong {
    color: #333;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 32px;
    z-index: 9001;
    opacity: 0.1;
}

.footer-right {
    float: right;
}

/* Info table */
.point-info__table {
    display: table;
    border-spacing: 30px 0;
    margin-left: -30px;
}

.point-info__row {
    display: table-row;
    margin-right: 20px;
}

.point-info__col {
    display: table-cell;
}